body { 
background-color: black;
color: #601d97;
font-family: Arial, sans-serif  ;
}

a:link {color: #601d97;}
a:visited {color: #601d97;}

.sidebar {
margin: 0 auto;
width:44%;
min-width: 444px;
margin-top: 33px;
}
.sidebarnav {
display:flex;
gap: 20px;
}

.main {
width: 44%;
min-width: 444px;
margin: 0 auto;
}

.one{
padding: 10px;
}

.two {
padding: 10px;
}

#resourcesmain
{color:white;
}

