body { 
background-color: black;
color: white;
font-family: Arial, sans-serif;
}

a:link {color: aqua;}
a:visited {color:aqua;}

.one{ 
border: 1px solid white;
padding: 10px;
}

.two { 
border: 1px solid white;
padding: 10px;
}

